.app-container {
    width: 100%;
    height: 100vh;
}

.app-sidenav {
    padding: 5px;
    width: 300px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav-expansion-panel {
    position: relative;
    z-index: 0;
}

mat-panel-title {
    color: var(--nav-text-color);
}

.nav-section {
    position: relative;
    z-index: 1;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--nav-text-color);
    transition: 0.3s;
}

.nav-section:hover {
    padding-left: 5px;
    transition: 0.3s;
}

.selected {
    background-image: linear-gradient(to right, #7367f0, #a39cf1);
    box-shadow: 0 4px 8px 0 #5d50eb;
    color: var(--secondary-text-color);
}

.nav-head {
    padding: 10px 25px 10px;
}

.nav-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    span {
        margin-left: 10px;
    }
}

.app-content {
    padding: 10px;
    width: 100%;
    height: 100vh;
}

.app-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
