<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav class="app-sidenav" [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="sideNavOpened">
        <mat-nav-list>
            <div class="company-info">
                <div class="company-name">
                    National Telecommunication Monitoring Center
                </div>
                <img src="assets/images/logo.png" alt="" class="logo" />
            </div>
            <!-- wrap all the nav items in an accordion panel -->
            <mat-accordion displayMode="flat" multi>
                <div *ngFor="let navItem of navList" class="nav-item">
                    <!-- use a simple div for an item that has no children,
            match up the styling to the expansion panel styles -->

                    <div class="nav-section" [ngClass]="{ 'nav-section-light': !(isDarkTheme$ | async) }" [routerLink]="navItem.url" routerLinkActive="selected" *ngIf="navItem.pages.length === 0">
                        <div class="nav-head">
                            <div class="nav-link-item" (click)="closeSidenav()">
                                <mat-icon class="material-icons-outlined">{{ navItem.icon }}
                                </mat-icon>
                                <span class="nav-link-text">{{ navItem.name }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- use expansion panel for heading item with sub page links -->
                    <mat-expansion-panel *ngIf="navItem.pages.length > 0" class="nav-expansion-panel mat-elevation-z0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon class="material-icons-outlined">{{ navItem.icon }}
                                </mat-icon>
                                <span class="nav-link-text">{{ navItem.name }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="nav-section" [routerLink]="navPage.url" routerLinkActive="selected" *ngFor="let navPage of navItem.pages">
                            <!-- loop through all your sub pages inside the expansion panel content -->
                            <div class="nav-head">
                                <div class="nav-link-item" (click)="closeSidenav()">
                                    <mat-icon class="material-icons-outlined">{{ navPage.icon }}
                                    </mat-icon>
                                    <span class="nav-link-text">{{ navPage.name }}</span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.marginLeft.px]="sidenav.opened && !mobileQuery.matches ? '300' : '0'" [ngClass]="{ 'app-light-theme': !(isDarkTheme$ | async) }">
        <div class="app-content">
            <div class="toolbar-container" [ngClass]="{
          'toolbar-pc': sidenav.opened && !mobileQuery.matches,
          'toolbar-mobile': mobileQuery.matches || !sidenav.opened
        }">
                <mat-toolbar class="app-top-bar">
                    <div class="top-bar-left">
                        <button mat-icon-button color="primary" aria-label="menu icon" type="button" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
                    </div>
                    <span class="toolbar-spacer"></span>
                    <div class="top-bar-right">
                        <mat-slide-toggle class="example-margin" [checked]="isDarkTheme$ | async" (change)="toggleDarkTheme($event.checked)">
                            <mat-icon class="material-icons-outlined">dark_mode </mat-icon>
                        </mat-slide-toggle>
                    </div>
                </mat-toolbar>
            </div>

            <div class="toolbar-bottom"></div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
