.container {
    margin-top: 30px;
}

.title {
    margin-bottom: 30px;
}

app-spinner {
    margin-top: 150px;
}

.agency-info {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--primary-color);
}

.row {
    padding-top: 5px;
}

.partner-create-form {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    padding: 10px;
}

.styled-button {
    margin: 2px;
    padding: 10px 25px 10px;
    border-radius: 5px;
    // background-color: var(--primary-color);
    background-image: linear-gradient( to right, var(--primary-color), var(--primary-color-gradient));
    box-shadow: 0 4px 8px 0 var(--primary-shadow);
    color: var(--secondary-text-color);
}

.styled-button:hover {
    box-shadow: 0 0px 0px 0 var(--primary-shadow);
}
