.container {
    margin-top: 30px;
}

.container-body {
    margin-top: 20px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    padding: 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.partners-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    color: var(--primary-text-color);
    font-size: large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

mat-header-row {
    background-image: linear-gradient( to right, var(--primary-color), var(--primary-color-gradient));
    box-shadow: 0 4px 8px 0 var(--primary-shadow);
    margin-bottom: 15px;
}

mat-header-cell {
    color: var(--secondary-text-color);
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

mat-cell {
    color: var(--primary-text-color);
}

.mat-column-name {
    max-width: 400px;
    text-align: left;
    padding-left: 10px;
}

.mat-column-partner-type {
    padding-left: 2px;
    text-align: center;
}

.mat-column-service-type {
    padding-left: 2px;
    text-align: center;
}

.mat-column-status {
    padding-left: 2px;
    text-align: center;
}

.mat-column-action {
    padding-left: 2px;
    max-width: 80px;
    text-align: center;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-icon-button {
    color: var(--primary-color);
}

.spinner-container {
    margin: 30px;
}

.styled-button {
    margin: 2px;
    padding: 10px 15px 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    // background-image: linear-gradient( to right, var(--primary-color), var(--primary-color-gradient));
    box-shadow: 0 4px 8px 0 var(--primary-shadow);
    color: var(--secondary-text-color);
}

.styled-button:hover {
    box-shadow: 0 0px 0px 0 var(--primary-shadow);
}